body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ascii{
    width: hug-content;
    height: hug-content;
    /* lowkey figma hug content */
    /* background-color: yellow; */
    white-space:pre;
    color: rgb(0, 0, 0);
    font-family: monospace;

    /* monospace gives it even spacing */
}


.emoji{
    font-size: 0.8em;
}