html,
body {
	/* vw = viewport width */
	/* vh = viewort height */
	width: 100vw;
	height: 100vh;
	padding: 10px;
	/* margin on default has 8px */

	/* remove scroll */
	overflow: hidden;

	/* if I want ot see the whole border */
	margin: 0;

	/* change calculation to use border-box to include margin, border and padding */
	box-sizing: border-box;
	/* as part of the width and height calculation */
}

body {
	border: 10px solid red;
}

.parent {
	background-color: orange;
	position: relative;
	z-index: 100;
}

.child {
	background-color: yellow;
	position: absolute;
	top: 0;
	right: 33%;
	z-index: -1;
}

.child-2 {
	position: relative;
	z-index: 1;
}
